@model IEnumerable<MobileStores.Models.CHUDE>
@foreach(var brand in Model)
            {
<a href="@Url.Action("SPtheochude","MobileStore", new {id = brand.MaCD })" class="brand-list">
    <img src="~/Content/img/user/@brand.Hinh" height="auto"/>
</a>
            }
